html {
    background-color: black;
    color: aqua;
}

.answers {
   margin-bottom: 50px;
}

.answer_button {
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: antiquewhite;
}